<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
</head>
<body>
    <h1>Predict Your Exam Score</h1>
    <p>Enter The number of hours you studied</p>
    <form action="/sub" method="POST">
        <input type="number" name="hrs" placeholder="Number of Hours Studied">
        <input type="submit">
    </form>
    <!-- {% if my_marks %}
        <p>Your Predicted Marks are:</p>{{my_marks}}
    {% endif %} -->
</body>
</html>